# Name: Balakrishna Mupparaju
# Assignment: Week11

# The Data Wrangling Workshop: Activity 8.01, page 423

In [23]:
# Import SQLite module for database operations
#The script connects to an SQLite database named petsdb. 
import sqlite3
conn = sqlite3.connect("/Users/balakrishnamupparaju/Documents/DSC540/petsdb")

In [25]:
#Executes a simple query (SELECT * FROM persons LIMIT 1) to test database connectivity. 
#Catches any sqlite3.ProgrammingError exceptions and prints a message if the connection is closed.

# Function to verify if connection to database is active
def is_opened(conn):
    try:
        conn.execute("SELECT * FROM persons LIMIT 1")  # Execute test query
        return True  # Connection is open
    except sqlite3.ProgrammingError as e:
        print("Connection closed {}".format(e))  # Print error message if failed
        return False  # Connection is closed

print(is_opened(conn))  # Check if the database connection is active

True

In [27]:
# Close the database connection
conn.close()

In [29]:
# Check if the connection is still active
print(is_opened(conn))

Connection closed Cannot operate on a closed database.
False

In [52]:
#Re-establishes a connection after verifying disconnection. 
#The cursor object (c) enables SQL queries execution.

conn = sqlite3.connect("petsdb")  # Reconnect to the petsdb database
c = conn.cursor()  # Create a cursor object to execute queries

In [54]:
#Count People in Each Age Group
#Groups people by age and counts how many people belong to each age group. Prints the number of people per age category.
for ppl, age in c.execute("SELECT count(*), age FROM persons GROUP BY age"):
    print("We have {} people aged {}".format(ppl, age))

We have 2 people aged 5
We have 1 people aged 6
We have 1 people aged 7
We have 3 people aged 8
We have 1 people aged 9
We have 2 people aged 11
We have 3 people aged 12
We have 1 people aged 13
We have 4 people aged 14
We have 2 people aged 16
We have 2 people aged 17
We have 3 people aged 18
We have 1 people aged 19
We have 3 people aged 22
We have 2 people aged 23
We have 3 people aged 24
We have 2 people aged 25
We have 1 people aged 27
We have 1 people aged 30
We have 3 people aged 31
We have 1 people aged 32
We have 1 people aged 33
We have 2 people aged 34
We have 3 people aged 35
We have 3 people aged 36
We have 1 people aged 37
We have 2 people aged 39
We have 1 people aged 40
We have 1 people aged 42
We have 2 people aged 44
We have 2 people aged 48
We have 1 people aged 49
We have 1 people aged 50
We have 2 people aged 51
We have 2 people aged 52
We have 2 people aged 53
We have 2 people aged 54
We have 1 people aged 58
We have 1 people aged 59
We have 1 people aged 60
We have 1 people aged 61
We have 2 people aged 62
We have 1 people aged 63
We have 2 people aged 65
We have 2 people aged 66
We have 1 people aged 67
We have 3 people aged 68
We have 1 people aged 69
We have 1 people aged 70
We have 4 people aged 71
We have 1 people aged 72
We have 5 people aged 73
We have 3 people aged 74

In [35]:
# Retrieves the most common age group from the persons table. 
# Orders results by highest population (ORDER BY count(*) DESC). The loop breaks after printing the top age group.
for ppl, age in c.execute(
    "SELECT count(*), age FROM persons GROUP BY age ORDER BY count(*) DESC"):
    print("The highest number of people is {} and came from {} age group".format(ppl, age))
    break #Exits loop after printing the highest age group count

The highest number of people is 5 and came from 73 age group

In [37]:
#Queries how many people have a missing last name (NULL). Loops through results and prints the count.
res = c.execute("SELECT count(*) FROM persons WHERE last_name IS null")
for row in res:
    print(row)

(60,)

In [39]:
#Groups pets by owner_id and identifies owners with more than one pet. Prints the total count of people owning multiple pets.
res = c.execute("SELECT count(*) FROM (SELECT count(owner_id) FROM pets GROUP BY owner_id HAVING count(owner_id) >1)")
for row in res:
    print("{} people have more than one pets".format(row[0]))

43 people have more than one pets

In [41]:
#Retrieves the number of pets that have undergone treatment (treatment_done=1). Prints the total count.
res = c.execute("SELECT count(*) FROM pets WHERE treatment_done=1")
for row in res:
    print(row)

(36,)

In [43]:
#Filters records where pets received treatment and also have a valid pet type (IS NOT NULL). 
#Returns the count of treated pets with known pet types
res = c.execute("SELECT count(*) FROM pets WHERE treatment_done=1 AND pet_type IS NOT null")
for row in res:
    print(row)

(16,)

In [45]:
#Joins the pets and persons tables using owner_id = persons.id. Filters only for owners from East Port. 
#Returns the number of pets in East Port.
res = c.execute("SELECT count(*) FROM pets JOIN persons ON pets.owner_id = persons.id WHERE persons.city='east port'")
for row in res:
    print(row)

(49,)

In [47]:
#Retrieves only treated pets that are owned by East Port residents. Returns the count of pets treated in East Port.

res = c.execute("SELECT count(*) FROM pets JOIN persons ON pets.owner_id = persons.id WHERE persons.city='east port' AND pets.treatment_done=1")
for row in res:
    print(row)

(11,)

Connects to SQLite petsdb database. Checks connection status and re-establishes if needed. Executes data analysis queries, including:

People grouped by age

Most common age group

Missing last names

Owners with multiple pets

Pets that received treatment

Pets living in East Port

Treated pets in East Port